/* Header style */
header {
  background-color: #5a5a57;
  padding: 1.5rem;
}

/* Navigation link style */
.navbar {
  background-color: #5a5a57 !important;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
}

.navbar-brand:hover {
  text-decoration: none;
}

nav {
  margin-top: 1rem;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.active {
  color: #08f714;
}

/* Portfolio style */
.project {
  margin-bottom: 2rem;
}

.project h3 {
  font-size: 1.5rem;
  color: #333;
}

.project img {
  max-width: 100%;
  height: auto;
}

/* Section style */
section {
  text-align: left;
  padding: 2rem;
  border-top: 15px solid #917601;
}

h2 {
  font-size: 1.5rem;
  color: #fff;
}

/* Resume style */
.resume-links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.resume-links a {
  margin: 0 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.resume-links a:hover {
  text-decoration: underline;
}

/* Contact style */
form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #ccc8c8;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #ccc8c8;
  color: #264461;
  padding: 0.5rem 0.8rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #5a5a57;
}

/* Icons style */
.icons {
  display: flex;
  justify-content: space-around;
}

.icons a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.icons a:hover {
  color: #5a5a57;
}

/* Footer style */
footer {
  background-color: #264461;
  padding: 0.3rem;
  border-top: 3px solid #5a5a57;
}
