  /* Body content style */
  #root {
    display: flex;
    flex-direction: column;
    font-family: "open sans", sans-serif;
    font-size: 1rem;
    color: #ccc8c8;
    margin: 0;
    padding: 0;
    background-color: #1a2f57;
    min-height: 100vh;
  }